<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="/blog/css/style.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/blog/css/jquery_lightbox.css" rel="stylesheet" type="text/css" media="screen" />

        <link href="/blog/css/alexgorbatchev/shCore.css" rel="stylesheet" type="text/css" />
        <link href="/blog/css/alexgorbatchev/shThemeDefault.css" rel="stylesheet" type="text/css" />
        <link href="/blog/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/blog/js/alexgorbatchev/shCore.js"></script>
        <script type="text/javascript" src="/blog/js/alexgorbatchev/shBrushJScript.js"></script>
        <script type="text/javascript" src="/blog/js/alexgorbatchev/shBrushCss.js"></script>
        <script type="text/javascript" src="/blog/js/alexgorbatchev/shBrushXml.js"></script>
        <script type="text/javascript" src="/blog/js/alexgorbatchev/shBrushPython.js"></script>
        <script type="text/javascript" src="/blog/js/alexgorbatchev/shBrushCpp.js"></script>
        <script type="text/javascript" src="/blog/js/alexgorbatchev/shBrushBash.js"></script>

        <script type="text/javascript" src="/blog/js/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="/blog/js/jquery_lightbox.js"></script>
        <script type="text/javascript" src="/blog/js/jquery.ztree.core-3.4.js"></script>

        <style type="text/css">
            .imga{
                border: 1px solid #12e3e3e;
                border-width: 5px 5px 5px 5px;
            }
        </style>
        <script type="text/javascript">
            $(function() {
                    $('.aimg').lightBox();
                    });

            SyntaxHighlighter.config.clipboardSwf = 'http://alexgorbatchev.com/pub/sh/current/scripts/clipboard.swf';
            SyntaxHighlighter.all();
</script>
</head>
<body>
    <div style="cursor:pointer"  onclick="document.location='http://zhblog.github.com/blog';" id="logo">
    </div>
    <hr />
    <!-- end #logo -->
    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div id="content">
                    <div class="post">
                        <div class="post-bgtop">
                            <div class="post-bgbtm">
                                <h2 class="title"><a id="titleid" href="#">{{ page.title }}</a></h2>
                                <p class="meta"> <a href="#">{{ page.author }}</a></p>
                                <div class="entry">

                                    {{ content }}

                                    </br><p>
                                    联系我：git.zhang@gmail.com
                                    </p>

                                    <div id="disqus_thread"></div>
                                    <script type="text/javascript">
                                        var disqus_shortname = 'zzhblog'; // 注意，短域名
                                        /* * * 下面这些不需要改动 * * */
                                        (function() {
                                         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                         dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                         })();
                                     </script>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div id="sidebar">
                     <ul>
                         <li>
                         <h2>最新文章 </h2>
                         <h2>最新文章 </h2>
                         <div id="showlist">
                             <ul id="treeDemo" class="ztree">
                                 {% for post in site.posts %}
                                 {% if post.layout == "default" %}
                                 <li>{{ post.date | date_to_long_string }} <a title="{{ post.author }}" class="{{ post.classification }}" href="{{ site.baseurl }}{{ post.url }}">:{{ post.title }}</a></li> 
                                 {% endif %}
                                 {% endfor %}
                             </ul>
                         </div>
                         </li>
                     </ul>

                     <ul>
                         <li>
                         <h2>分类列表</h2>
                         <div>
                             <ul id="treeClass" class="ztree">

                             </ul>
                         </div>
                         </li>
                     </ul>

                     <ul>
                         <li>
                         <h2>作者分类</h2>
                         <div>
                             <ul id="treeAuthor" class="ztree">

                             </ul>
                         </div>
                         </li>
                     </ul>

                     <ul>
                         <li>
                         <h2>ONLY FOR ME </h2>
                         <div id="melist">
                             <ul id="onlySelf" class="ztree">>
                                 {% for post in site.posts %}
                                 {% if post.layout == "self" %}
                                 <li>{{ post.date | date_to_long_string }} <a title="{{ post.author }}" class="{{ post.classification }}" href="{{ site.baseurl }}{{ post.url }}">:{{ post.title }}</a></li> 
                                 {% endif %}
                                 {% endfor %}
                             </ul>
                         </div>
                         </li>
                     </ul>

                     <ul>
                         <li>
                         <h2>我的PPT </h2>
                         <ul>
                             {% for post in site.posts %}
                             {% if post.layout == "point" %}
                             <li>{{ post.date | date_to_long_string }} <a href="{{ site.baseurl }}{{ post.url }}">:{{ post.title }}</a></li> 
                             {% endif %}
                             {% endfor %}
                         </ul>
                         </li>
                     </ul>


                     <div class="lianjie">
                         <ul>
                             <li>
                             <h2>我的链接 </h2>
                             <ul>
                                 <li><a target="_blank" href="http://blog.jobbole.com">伯乐在线</a></li>
                                 <li><a target="_blank" href="http://coolshell.cn/">陈皓酷壳</a></li>
                                 <li><a target="_blank" href="http://9.douban.com/">豆瓣九点</a></li>
                                 <li><a target="_blank" href="http://www.mhtml5.com/">HTML5 研究小组</a></li>
                                 <li><a target="_blank" href="http://blog.sina.com.cn/yinwang0">当然我在扯淡</a></li>
                                 <li><a target="_blank" href="http://www.csdn.net/">CSDN</a></li>
                                 <li><a target="_blank" href="http://www.chinaunix.net/">CHINAUNIX</a></li>
                                 <li><a target="_blank" href="http://www.linuxtoy.org/">LINUX TOY</a></li>
                                 <li><a target="_blank" href="http://www.crazyshell.org/blog/">狂Shell</a></li>
                                 <li><a target="_blank" href="http://hellogcc.blogbus.com/">HelloGcc Working Group</a></li>
                                 <li><a target="_blank" href="http://denniskubes.com">Dennis Ku.bes</a></li>
                                 <li><a target="_blank" href="http://blog.zhaojie.me/">老赵点滴</a></li>
                                 <li><a target="_blank" href="http://codingnow.com">云风的Blog</a></li>
                                 <li><a target="_blank" href="http://www.ruanyifeng.com/blog/">阮一峰的网络日志</a></li>
                                 <li><a target="_blank" href="http://www.dutor.net/">Dutor</a></li>
                                 <li><a target="_blank" href="http://clay.phpme.info/">what th F* blog</a></li>
                                 <li><a target="_blank" href="http://tonybai.com/">Tony Bai</a></li>
                                 <li><a target="_blank" href="http://www.zhouwenyi.com/">周文艺</a></li>
                                 <li><a target="_blank" href="http://www.qianduan.net/">前端观察</a></li>
                                 <li><a target="_blank" href="http://www.itmianshi.net/">IT面试</a></li>
                                 <li><a target="_blank" href="http://www.usr.cc/">USR技术社区</a></li>
                             </ul>
                         </div>
                         </li>
                     </div>
                     <!-- end #sidebar -->
                 </div>
             </div>
         </div>


         <div id="footer">
             <p>Copyright (c) © 2012 GitHub Inc. All rights reserved. <a href="http://blog.sina.com.cn/zzh250/">江湖</a>.</p>
         </div>
         <!-- end #footer -->
     </body>
     <script type="text/javascript">
         $(".addimg").each(function(){
                 html = "<a class='aimg' href='/blog/jimg/"+this.id+"'><img class='imga' style='width:570px' src='/blog/jimg/"+this.id+"' ></img></a>"
                 $(this).html(html)
                 });

function whimg()
{
    imga = $(".imga")
        if(imga){
            wt = (imga.width())
                ht = (imga.height())
                if (wt > 550)
                {
                    imga.width(550)
                }
        }
}
$("#fortitle").hide()
var ht = $(".meta").html()
$(".meta").html($("#fortitle").html() + ht)
$(window.parent.document).find("title").html($("title").html())
</script>
<script>
    var setting = {};
    var node2012_09 = {open:false,name:"九月"}
    var node2012_10 = {open:true,name:"十月"}
    var node2012_11 = {open:true,name:"十一月"}
    var node2012_12 = {open:true,name:"十二月"}

    var node2013_01 = {open:true,name:"一月"}
    var node2013_02 = {open:true,name:"二月"}
    var node2013_03 = {open:true,name:"三月"}
    var node2013_04 = {open:true,name:"四月"}
    var node2013_05 = {open:true,name:"五月"}
    var node2013_06 = {open:true,name:"六月"}
    var node2013_07 = {open:true,name:"七月"}
    var node2013_08 = {open:true,name:"八月"}
    var node2013_09 = {open:true,name:"九月"}
    var node2013_10 = {open:true,name:"十月"}
    var node2013_11 = {open:true,name:"十一月"}
    var node2013_12 = {open:true,name:"十二月"}

    var monthlist = new Array("January","February","March","April","May","June","July","August","September","October","November","December")
    var yearlist = new Array("2012","2013", "2014","2015")
    var thisarray = new Array()

    var webnode = {open:false,name:"web"}
    var livenode = {open:false,name:"生活"}
    var othernode = {open:false,name:"其他"}
    var scriptnode = {open:false,name:"script"}
    var linuxnode = {open:false,name:"linux"}

    var reservednode = {open:false,name:"转载"}
    var zzhnode = {open:false,name:"张志鹤"}
    var lgthwnode = {open:false,name:"LGTHW"}



    $("#showlist").find("li").each(function(){
        thistext = $(this).text()
        hreftext = $(this).find("a").attr("href")
        classification = $(this).find("a").attr("class")
        author = $(this).find("a").attr("title")
        datelist = thistext.split(":")[0]
        titletext = thistext.split(":")[1]
        daytext = datelist.split(" ")[0]
        monthtext = datelist.split(" ")[1]
        yeartext = datelist.split(" ")[2]
        arr = new Array(titletext, yeartext, monthtext, daytext, hreftext)
        if(author == "zzh")
        {
            if((zzhnode["children"])){
                zzhnode["children"][zzhnode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
            }else
            {
                zzhnode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
            }
        }else if(author == "reserved")
        {
            if((reservednode["children"])){
                reservednode["children"][reservednode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
            }else
            {
                reservednode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
            }
        }
        else if(author == "lgthw")
        {
            if((lgthwnode["children"])){
                lgthwnode["children"][lgthwnode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
            }else
            {
                lgthwnode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
            }
        }


        if(classification == "live")
        {
            if((livenode["children"])){
                livenode["children"][livenode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
            }else
            {
                livenode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
            }
        }else if(classification == "other")
        {
            if((othernode["children"])){
                othernode["children"][othernode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
            }else
            {
                othernode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
            }
        }else if(classification == "web")
        {
            if((webnode["children"])){
                webnode["children"][webnode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
            }else
            {
                webnode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
            }
        }
        else if(classification == "linux")
        {
            if((linuxnode["children"])){
                linuxnode["children"][linuxnode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
            }else
            {
                linuxnode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
            }
        }
        else if(classification == "script")
        {
            if((scriptnode["children"])){
                scriptnode["children"][scriptnode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
            }else
            {
                scriptnode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
            }
        }




        if (yeartext == "2012"){

            if(monthtext == "January"){

            }
            else if(monthtext == "February")
            {

            }else if(monthtext == "March")
            {

            }else if(monthtext == "April")
            {

            }else if(monthtext == "May")
            {

            }else if(monthtext == "June")
            {

            }else if(monthtext == "July")
            {

            }else if(monthtext == "August")
            {

            }else if(monthtext == "September")
            {
                if((node2012_09["children"])){
                    node2012_09["children"][node2012_09["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2012_09["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }

            }
            else if(monthtext == "October")
            {
                if((node2012_10["children"])){
                    node2012_10["children"][node2012_10["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2012_10["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }
            else if(monthtext == "November")
            {
                if((node2012_11["children"])){
                    node2012_11["children"][node2012_11["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2012_11["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }
            else if(monthtext == "December")
            {
                if((node2012_12["children"])){
                    node2012_12["children"][node2012_12["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2012_12["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }

        }
        else if(yeartext == "2013")
        {
            if(monthtext == "January"){
                if((node2013_01["children"])){
                    node2013_01["children"][node2013_01["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_01["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }
            else if(monthtext == "February")
            {
                if((node2013_02["children"])){
                    node2013_02["children"][node2013_02["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_02["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }else if(monthtext == "March")
            {
                if((node2013_03["children"])){
                    node2013_03["children"][node2013_03["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_03["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }else if(monthtext == "April")
            {
                if((node2013_04["children"])){
                    node2013_04["children"][node2013_04["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_04["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }else if(monthtext == "May")
            {
                if((node2013_05["children"])){
                    node2013_05["children"][node2013_05["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_05["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }else if(monthtext == "June")
            {
                if((node2013_06["children"])){
                    node2013_06["children"][node2013_06["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_06["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }else if(monthtext == "July")
            {
                if((node2013_07["children"])){
                    node2013_07["children"][node2013_07["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_07["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }else if(monthtext == "August")
            {
                if((node2013_08["children"])){
                    node2013_08["children"][node2013_08["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_08["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }else if(monthtext == "September")
            {
                if((node2013_09["children"])){
                    node2013_09["children"][node2013_09["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_09["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }

            }
            else if(monthtext == "October")
            {
                if((node2013_10["children"])){
                    node2013_10["children"][node2013_10["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_10["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }
            else if(monthtext == "November")
            {
                if((node2013_11["children"])){
                    node2013_11["children"][node2013_11["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_11["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }
            else if(monthtext == "December")
            {
                if((node2013_12["children"])){
                    node2013_12["children"][node2013_12["children"].length] = {name:daytext+"-"+titletext,url:hreftext}
                }else
                {
                    node2013_12["children"] = [{name:daytext+"-"+titletext,url:hreftext}]
                }
            }
        }

    });

    var menode = {open:false,name:"SELF"}
    $("#melist").find("li").each(function(){
        thistext = $(this).text()
        hreftext = $(this).find("a").attr("href")
        classification = $(this).find("a").attr("class")
        author = $(this).find("a").attr("title")
        datelist = thistext.split(":")[0]
        titletext = thistext.split(":")[1]
        daytext = datelist.split(" ")[0]
        monthtext = datelist.split(" ")[1]
        yeartext = datelist.split(" ")[2]
        arr = new Array(titletext, yeartext, monthtext, daytext, hreftext)
        if((menode["children"])){
            menode["children"][menode["children"].length] = {name:datelist+":"+titletext,url:hreftext}
        }else
        {
            menode["children"] = [{name:datelist+":"+titletext,url:hreftext}]
        }
    });

    var node2013 = {name:"2013",open:false ,children:[node2013_12,node2013_11,node2013_10,node2013_09,node2013_08,node2013_07,node2013_06,node2013_05,node2013_04,node2013_03,node2013_02,node2013_01]}
    //var node2012 = {name:"2012",open:true,children:[node2012_12,node2012_11,node2012_10,node2012_09]}
    var node2012 = {name:"2012",open:true,children:[node2012_10,node2012_09]}

    //var myNode = [node2013,node2012]
    var myNode = [node2012]
    var cNode = [linuxnode,scriptnode,webnode,livenode,othernode]
    var authorNode = [zzhnode,lgthwnode,reservednode]
    var selfNode = [menode]
    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting, myNode);
        $.fn.zTree.init($("#treeClass"), setting, cNode);
        $.fn.zTree.init($("#treeAuthor"), setting, authorNode);
        $.fn.zTree.init($("#onlySelf"), setting, selfNode);
    });
</script>
</html>
